.back-to-top {
    display: block; /* デスクトップでは表示 */
    position: fixed;
    top: 58px;
    left: 24px;
    z-index: 100;
}

.back-button {
    display: inline-flex; /* PCでは表示 */
    align-items: center;
    gap: 16px;
    padding: 16px 32px;
    background: var(--bgBkgColor);
    color: var(--bgColor);
    border-radius: 10px;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    box-shadow: 3px 3px 6px rgba(21, 21, 21, 0.25);
    transition: all 0.3s ease-in-out;

    svg {
        width: 20px;
        height: 20px;
    }
}

.back-button:hover {
    scale: 1.05;
}

@media screen and (max-width: 767px) {
    .mobile-header {
        display: none !important;
    }
}

@media screen and (min-width: 768px) {
    .pc-header {
        display: none !important;
    }
}
