:root {
    --fontColor: #151515;
    --whiteColor: #ececec;
    --bgColor: #fefefe;
    --bgBkgColor: #373737;
    --fontFamily: "Noto Sans JP", sans-serif;
    --tagOverlayColor: 250, 250, 250;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    border: 0;
    color: var(--fontColor);
    font-family: var(--fontFamily);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}
